<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [ 
<!ELEMENT homepage ANY>
<!ATTLIST homepage id ID #REQUIRED>

]>
<root id="-1">
  <homepage id="1049" key="e329986a-daa0-4d5d-b338-461692cc91db" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2016-02-19T11:36:07" updateDate="2016-02-19T11:40:50" nodeName="Home" urlName="home" path="-1,1049" isDoc="" nodeType="1048" creatorName="Test Test" writerName="Test Test" writerID="0" template="1047" nodeTypeAlias="homepage">
    <content><![CDATA[Username: admin

Password: password]]></content>
  </homepage>
</root>